@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
		font-family: menlo;
		src: url(../fonts/Menlo-Regular.ttf);
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'menlo', 'Roboto', sans-serif;
}

body {
	background-color: rgb(29, 41, 51);
}

.blocPage {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: rgb(29, 41, 51);
	padding: 0 50px;
}

	.input, .input--field, .terminal {
		color: white;
	}

	.terminal {
		flex: 1 1;
		background-color: rgb(29, 41, 51);
		padding: 20px;
		overflow-y: scroll;
	}
		.terminal_resp {
			line-height: 1.5em;
		}

		.graphContainer {
			width: 100%;
			height: 200px;
		}

		[contenteditable="true"].single-line {
				white-space: nowrap;
				width:200px;
				overflow: hidden;
		} 
		[contenteditable="true"].single-line br {
				display:none;

		}
		[contenteditable="true"].single-line * {
				display:inline;
				white-space:nowrap;
		}
		
	.input {
		display: flex;
		align-items: center;
	}

		.input--prefix {
			margin-right: 20px;
			font-size: 1.5em;
		}

		.input--field {
			background-color: rgb(29, 41, 51);
			border: none;
			outline: none;
			font-size: 1.3em;
			width: 100% !important;
		}

/**
 * Coloration syntaxique
 */

.sy_operator {
	color: red;
}




